In [1]:
a={}
type(a)

dict

In [4]:
#a={<key>:<value>,<key>:<value>}
a={"A":"apple","B":"ball"}
b={0:"apple",1:"ball"}
print(type(a))
print(a)

<class 'dict'>
{'A': 'apple', 'B': 'ball'}

In [5]:
#multiple keys nots accepted
a={"A":"apple","A":"ball"}
print(a)

{'A': 'ball'}

In [7]:
#indexing
a={"A":"apple","a":"apple"}
a["A"]

'apple'

In [6]:
#multiple values accept
a={"A":"apple","a":"apple"}
print(a)

{'A': 'apple', 'a': 'apple'}

In [9]:
#ordered
a={1:"cpple",0:"ball"}
a

{1: 'cpple', 0: 'ball'}

In [11]:
a={"A":"apple","A":"ant"}
print(a)

{'A': 'ant'}

In [13]:
# + *
a={"A":"apple"}
b={"B":"ball"}
print(a+b)
print(a*2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [15]:
a={"A":"apple"}
b={"B":"ball"}
c=a.append(b)

AttributeError: 'dict' object has no attribute 'append'

In [16]:
a={"A":"apple"}
b={"B":"ball"}
a.update(b)
print(a)

{'A': 'apple', 'B': 'ball'}

In [17]:
a={}
b={"b":"ball"}
a.update(b)
print(a)

{'b': 'ball'}

In [19]:
a={}
a["A"]="apple"# to insert values in dict
a['B']="ball"
print(a)

{'A': 'apple', 'B': 'ball'}

In [20]:
a={}
a["A"]="apple"# to insert values in dict
a['A']="ball"
print(a)

{'A': 'ball'}

In [21]:
c={}
n= int(input("enter the value of n="))
for i in range(n):
    a=input("enter the value of a=")
    c[i]=a#creating dictionary
print(c)

enter the value of n=3
enter the value of a=hai
enter the value of a=bye
enter the value of a=happ
{0: 'hai', 1: 'bye', 2: 'happ'}

In [24]:
info={}
n= int(input("enter the value of n="))
for i in range(n):
    name=input("enter the value of a=")
    phone=int(input("enter the phone no="))
    info[name]=phone#creating dictionary
print(info)

enter the value of n=2
enter the value of a=ar
enter the phone no=765
enter the value of a=hye
enter the phone no=6543
{'ar': 765, 'hye': 6543}

In [25]:
#reading
for i in info:
    print(i)

ar
hye

In [26]:
for i in info.values():
    print(i)

765
6543

In [27]:
for i in info.items():
    print(i)

('ar', 765)
('hye', 6543)

In [29]:
a={'ar': 765, 'hye': 6543}
a['ar']:876
print(a)

{'ar': 765, 'hye': 6543}

In [30]:
a={'ar': 765, 'hye': 6543}
del a['ar']
print(a)

{'hye': 6543}

In [31]:
a={'ar': 765, 'hye': 6543}
a.pop('ar')
print(a)

{'hye': 6543}

In [32]:
a={'ar': 765, 'hye': 6543}
b=a.pop('ar')
print(b)

765

In [33]:
#list insie dict
a={'ram':[876543,987321],'shyam':[98241,65342]}
print(a)
print(type(a))
print(len(a))

{'ram': [876543, 987321], 'shyam': [98241, 65342]}
<class 'dict'>
2

In [34]:
a['ram']

[876543, 987321]

In [36]:
print (a['ram'][1])

987321

In [38]:
name= input("enter name=")
typ=int(input("enter 0 for ntc and 1 for ncell="))
print("the info is=",a[name][typ])

enter name=ram
enter 0 for ntc and 1 for ncell=1
the info is= 987321

In [40]:
a['ram'].append(4364328)
print(a)

{'ram': [876543, 987321, 4364328], 'shyam': [98241, 65342]}

In [42]:
del a['ram'][1]
print(a)

{'ram': [876543, 4364328], 'shyam': [98241, 65342]}

In [43]:
info={}
n= int(input("enter the value of n="))
for i in range(n):
    name=input("enter the value of a=")
    ntc_phone=int(input("enter the phone no="))
    ncell_phone=int(input("enter the phone no="))
    
    info[name]=[ntc_phone,ncell_phone]#creating dictionary
print(info)

enter the value of n=2
enter the value of a=hari
enter the phone no=9843667795
enter the phone no=9818778508
enter the value of a=shyam
enter the phone no=9845371007
enter the phone no=8717665432
{'hari': [9843667795, 9818778508], 'shyam': [9845371007, 8717665432]}

In [44]:
a={'hari': [9843667795, 9818778508], 'shyam': [9845371007, 8717665432]}
print(a)

{'hari': [9843667795, 9818778508], 'shyam': [9845371007, 8717665432]}

In [46]:
#tuple inside dicts
info={}
n= int(input("enter the value of n="))
for i in range(n):
    name=input("enter the value of a=")
    ntc_phone=int(input("enter the phone no="))
    ncell_phone=int(input("enter the phone no="))
    
   

    s=tuple([ntc_phone,ncell_phone])
    info[name]=s

print(info)

enter the value of n=2
enter the value of a=hari
enter the phone no=987654321
enter the phone no=981435436
enter the value of a=shyam
enter the phone no=9841645431
enter the phone no=980876543
{'hari': (987654321, 981435436), 'shyam': (9841645431, 980876543)}

In [47]:
# dict inside dict
a={"ram":{"Ntc":9843655432,"Ncell":9818776543},"shyam":{"Ntc":9841543642,"Ncell":981745321}}
print(a)

{'ram': {'Ntc': 9843655432, 'Ncell': 9818776543}, 'shyam': {'Ntc': 9841543642, 'Ncell': 981745321}}

In [48]:
print (a['ram'])

{'Ntc': 9843655432, 'Ncell': 9818776543}

In [49]:
print(a['ram']['Ntc'])

9843655432

In [52]:
for i in a.items():
    print(i)

('ram', {'Ntc': 9843655432, 'Ncell': 9818776543})
('shyam', {'Ntc': 9841543642, 'Ncell': 981745321})

In [53]:
info={}
n= int(input("enter the value of n="))
for i in range(n):
    name=input("enter the value of a=")
    ntc_phone=int(input("enter the phone no="))
    ncell_phone=int(input("enter the phone no="))
    info[name]={'NTC':ntc_phone,"Ncell":ncell_phone}

print(info)

enter the value of n=2
enter the value of a=hari
enter the phone no=9843667794
enter the phone no=9808717654
enter the value of a=shyam
enter the phone no=9841729804
enter the phone no=981877104
{'hari': {'NTC': 9843667794, 'Ncell': 9808717654}, 'shyam': {'NTC': 9841729804, 'Ncell': 981877104}}

In [1]:
bill={}
total=0
nameofcust=input("enter the name =")
address=input("enter the address=")
n=int(input("enter the value of n="))
for i in range(1,n+1):
    
    items=input("enter the items name=")
    price=int(input("enter the items price="))
    quantity=int(input("enter the items quantity="))
    total_price= (price*quantity)
    bill[i]={'name':items,'cost':price,'total_items':quantity,'total_value':total_price}
    total=total+total_price
    print(total)
    
print(bill)

#read
for i in bill.items():
    print(i)

#delete
a=bill.pop(1)
print(a)
    
#update

bill[1]={'cost':900}
bill.update(bill[1])

enter the name =hari
enter the address=patan
enter the value of n=3
enter the items name=oil
enter the items price=400
enter the items quantity=2
800
enter the items name=bread
enter the items price=70
enter the items quantity=3
1010
enter the items name=fan
enter the items price=4000
enter the items quantity=1
5010
{1: {'name': 'oil', 'cost': 400, 'total_items': 2, 'total_value': 800}, 2: {'name': 'bread', 'cost': 70, 'total_items': 3, 'total_value': 210}, 3: {'name': 'fan', 'cost': 4000, 'total_items': 1, 'total_value': 4000}}
(1, {'name': 'oil', 'cost': 400, 'total_items': 2, 'total_value': 800})
(2, {'name': 'bread', 'cost': 70, 'total_items': 3, 'total_value': 210})
(3, {'name': 'fan', 'cost': 4000, 'total_items': 1, 'total_value': 4000})
{'name': 'oil', 'cost': 400, 'total_items': 2, 'total_value': 800}

In [11]:
details={}
n=int(input("enter the value of n="))
for i in range(1,n+1):
    name=input("enter the name of student=")
    address=input("enter the address=")
    x=int(input("enter the number of subjects you want="))
    eng=int(input("enter the marks of english="))
    sci=int(input("enter the marks of science="))
    nep=int(input("enter the marks of nepali="))
    soc=int(input("enter the marks of social="))
    mth=int(input("enter the marks of math="))
    marks=(eng+sci+nep+soc+mth)
    total=500
    per = marks/500*100
    if(per>=80):
            print("Distinction")
    elif (per>=60 and per<80):
            print("First Divison")
    elif(per>=50 and per<50):
            print("second division")
    else:
            print("Third Division")
   
    if(eng==40 and sci==40 and nep==40 and soc==40 and mth==40):
        print("pass")
        
    else:
        print('fail')
    details[i]={'Name':name,'Address':address,'ENGLISH':eng,'science':sci,'nepali':nep,'social':soc,'math':mth,'total_marks':marks,'percentage':per}
print(details)

enter the value of n=2
enter the name of student=hari
enter the address=patan
enter the number of subjects you want=5
enter the marks of english=65
enter the marks of science=73
enter the marks of nepali=98
enter the marks of social=63
enter the marks of math=65
First Divison
fail
enter the name of student=tom
enter the address=patana
enter the number of subjects you want=5
enter the marks of english=72
enter the marks of science=34
enter the marks of nepali=54
enter the marks of social=90
enter the marks of math=88
First Divison
fail
{1: {'Name': 'hari', 'Address': 'patan', 'ENGLISH': 65, 'science': 73, 'nepali': 98, 'social': 63, 'math': 65, 'total_marks': 364, 'percentage': 72.8}, 2: {'Name': 'tom', 'Address': 'patana', 'ENGLISH': 72, 'science': 34, 'nepali': 54, 'social': 90, 'math': 88, 'total_marks': 338, 'percentage': 67.60000000000001}}