In [4]:
a=["apple","orange","litchi"]
print(a)
print(type(a))
print(len(a))

['apple', 'orange', 'litchi']
<class 'list'>
3

In [5]:
a="apple"
len(a)

5

In [6]:
a=["apple","orange","litchi"]
print(a[0])

apple

In [7]:
a=["apple","orange","litchi"]
print(a[-1])

litchi

In [8]:
a=["apple","orange","litchi"]
print(a[0:2])

['apple', 'orange']

In [11]:
a=["apple","orange","litchi","kiwi","mango"]
print(a[0:5:2])

['apple', 'litchi', 'mango']

In [12]:
a=["apple","orange","litchi","kiwi","mango"]
print(a[5::-1])

['mango', 'kiwi', 'litchi', 'orange', 'apple']

In [13]:
a =["apple","ball"]
b=["cat","dog"]
print(a+b)

['apple', 'ball', 'cat', 'dog']

In [14]:
a =["apple","ball"]*2
print(a)

['apple', 'ball', 'apple', 'ball']

In [15]:
a =["apple","ball"]+2#cant concate becoz 2 is int 
print(a)

TypeError: can only concatenate list (not "int") to list

In [16]:
a =["apple","ball"]+[2]
print(a)

['apple', 'ball', 2]

In [17]:
a=["apple","orange","litchi","kiwi","mango"]
a[0]="grapes"
print(a)

['grapes', 'orange', 'litchi', 'kiwi', 'mango']

In [21]:
y=[]
n = int(input("enter the value of n="))
for i in range(n):
    x= int(input("enter the value of x="))
    y.append(x)
    print(y)
print(y)

enter the value of n=5
enter the value of x=1
[1]
enter the value of x=2
[1, 2]
enter the value of x=3
[1, 2, 3]
enter the value of x=4
[1, 2, 3, 4]
enter the value of x=5
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [22]:
a=[1, 2, 3, 4, 5]
a.append(70)
print(a)

[1, 2, 3, 4, 5, 70]

In [23]:
a=[1, 2, 3, 4, 5]
a.insert(2,9)
print(a)

[1, 2, 9, 3, 4, 5]

In [24]:
y=[]
n = int(input("enter the value of n="))
for i in range(n):
    x= input("enter the value of x=")
    y.append(x)
    print(y)
print(y)

enter the value of n=5
enter the value of x=ram
['ram']
enter the value of x=sita
['ram', 'sita']
enter the value of x=shyam
['ram', 'sita', 'shyam']
enter the value of x=smith
['ram', 'sita', 'shyam', 'smith']
enter the value of x=paras
['ram', 'sita', 'shyam', 'smith', 'paras']
['ram', 'sita', 'shyam', 'smith', 'paras']

In [26]:
y=[]
n = int(input("enter the value of n="))
for i in range(n):
    x= int(input("enter the value of x="))
    y=y+[x]
    print(y)
print(y)

enter the value of n=5
enter the value of x=1
[1]
enter the value of x=2
[1, 2]
enter the value of x=3
[1, 2, 3]
enter the value of x=4
[1, 2, 3, 4]
enter the value of x=5
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [27]:
y=[]
x=["apple"]
y+x

['apple']

In [29]:
#wap to determine highest and strongest value 

y=[]
n = int(input("enter the value of n="))
for i in range(n):
    x= int(input("enter the value of x="))
    y.append(x)
    
print("the fial data is=",y)
print("the maximum data is=",max(y))
print("the minimum data is=",min(y))
print("the sum data is=",sum(y))
print("the average data is=",sum(y)/n)

enter the value of n=5
enter the value of x=88
enter the value of x=99
enter the value of x=202
enter the value of x=989
enter the value of x=654
the fial data is= [88, 99, 202, 989, 654]
the maximum data is= 989
the minimum data is= 88
the sum data is= 2032
the average data is= 406.4

In [31]:
print("the final value is=",y)
y.sort()
print("the value by sorting=",y)

the final value is= [88, 99, 202, 989, 654]
the value by sorting= [88, 99, 202, 654, 989]

In [32]:
y.reverse()
print(y)

[989, 654, 202, 99, 88]

In [33]:
a =["apple","Cat","Mice","Dog"]
a.sort()
print(a)

['Cat', 'Dog', 'Mice', 'apple']

In [34]:
for i in a:
    print(a)

['Cat', 'Dog', 'Mice', 'apple']
['Cat', 'Dog', 'Mice', 'apple']
['Cat', 'Dog', 'Mice', 'apple']
['Cat', 'Dog', 'Mice', 'apple']

In [37]:
#for viewing data
for i in range(len(a)):
    print(i,a[i])

0 Cat
1 Dog
2 Mice
3 apple

In [42]:
a=['Cat', 'Dog', 'Mice', 'apple']
if apple in a:
    print("yes",a.count("apple"))

yes 1

In [40]:
# search
a=['Cat', 'Dog', 'Mice', 'apple']
serach=input("enter the value of search=")
if serach in a:
    print("yes",a.count(serach))

enter the value of search=apple
yes 1

In [46]:
a=['Cat', 'Dog', 'Mice', 'apple']
b=[]
for i in a:
    j=i.lower()
    b.append(j)
print(b)
    
serach=input("enter the value of search=")
if serach in b:
    print("yes",b.count(serach))

['cat', 'dog', 'mice', 'apple']
enter the value of search=mice
yes 1

In [6]:
a=['Cat', 'Dog', 'Mice', 'apple']
serach=input("enter the value of search=").lower()
for i in range(len(a)):
    if serach in a[i].lower():
        print("yes")
        break

enter the value of search=dog
yes

In [7]:
#index
a=['Cat', 'Dog', 'Mice', 'apple']
a.index("apple")

3

In [8]:
a=['Cat', 'Dog', 'Mice', 'apple']
a.remove("apple")
print(a)

['Cat', 'Dog', 'Mice']

In [9]:
a=['Cat', 'Dog', 'Mice', 'apple']
del a[1]
print(a)

['Cat', 'Mice', 'apple']

In [10]:
a=['Cat', 'Dog', 'Mice', 'apple']
del a
print(a)

NameError: name 'a' is not defined

In [11]:
a=['Cat', 'Dog', 'Mice', 'apple']
a.clear()
print(a)

[]

In [12]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
a.remove('apple')
print(a)

['Cat', 'Dog', 'Mice', 'apple', 'apple']

In [14]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
n = a.count('apple')
for i in range(n):
    a.remove('apple')
print(a)

['Cat', 'Dog', 'Mice']

In [15]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
n = a.count('apple')
for i in range(n-1):
    a.remove('apple')
print(a)

['Cat', 'Dog', 'Mice', 'apple']

In [16]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
del a[0:4]
a

['apple', 'apple']

In [17]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
a.index("apple")

3

In [23]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
x= input("enter the value for search=")
for i in range(len(a)):
    if a[i]==x:
        print(i)
print(a)

enter the value for search=apple
3
4
5
['Cat', 'Dog', 'Mice', 'apple', 'apple', 'apple']

In [25]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
del a[4]
a

['Cat', 'Dog', 'Mice', 'apple', 'apple']

In [29]:
a=['Cat', 'Dog', 'Mice', 'apple','apple','apple']
x= input("enter the value for search=")
ind =[]
for i in range(len(a)):
    if a[i]==x:
        ind.append(i)
        
print(ind)

enter the value for search=apple
[3, 4, 5]

In [2]:
s=""
n = int(input("enter the no of rows="))
for i in range(n):
    name=input("enter the name=")
    phone = int(input("enter the phone="))
    info =f"{name} .....{phone}\n"
    s=s+info
print(s)

enter the no of rows=2
enter the name=ram
enter the phone=8765
enter the name=sita
enter the phone=7654
ram .....8765
sita .....7654

In [26]:
data = s.split('\n')
print(data[:-1])

['ram .....87665', 'sita .....98775']

In [6]:
data[1]

'sita .....7654'

In [8]:
data[0].split(".....")

['ram ', '.8765']

In [19]:


for i in range(len(data)):
    final=data[i].split('....')
    print(final)

['ram ', '.8765']
['sita ', '.7654']
['']

In [22]:
s=""
n = int(input("enter the no of rows="))
for i in range(n):
    name=input("enter the name=")
    phone = int(input("enter the phone="))
    info =f"{name} .....{phone}\n"
    s=s+info
print(s)
z=[]

data = s.split('\n')
final_data=data[:-1]

for i in range(len(final_data)):
    final=final_data[i].split('....')
    z.append(final)
print(z)

enter the no of rows=2
enter the name=ram
enter the phone=87665
enter the name=sita
enter the phone=98775
ram .....87665
sita .....98775

[['ram ', '.87665'], ['sita ', '.98775']]

In [4]:
a ="apple ball"
a.split('.')

['apple ball']

In [1]:
#list inside list
a= [[],[],[],[]]
print(a)
print(type(a))
print(len(a))

[[], [], [], []]
<class 'list'>
4

In [4]:
a =[[1,2,3],[4,5,6],[7,8,9]]
print(a[0])
print(a[0][2])

[1, 2, 3]
3

In [6]:
# create list inside list
z=[]
n= int(input("ener the value of rows n="))
for i in range(n):
    name=input("enter the name=")
    phone=int(input("enter the phone="))
    info=[i,name,phone]
    z.append(info)
print(z)

ener the value of rows n=2
enter the name=ram
enter the phone=9876
enter the name=shyam
enter the phone=8765
[[0, 'ram', 9876], [1, 'shyam', 8765]]

In [8]:
# displaying the list inside list
sn =int(input("enter the number="))
print("the list is=",z[sn])

enter the number=1
the list is= [1, 'shyam', 8765]

In [9]:
# multiple value
a =[[1,2,3],[4,5,6],[7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
# mutable data type
a =[["ram","shyam"],["ball"],[7,8,9]]
a[0]

['ram', 'shyam']

In [14]:
a =[["ram","shyam"],["ball"],[7,8,9]]
a[0] = ["Ram","Shyam"]
print(a)

[['Ram', 'Shyam'], ['ball'], [7, 8, 9]]

In [15]:
a =[["ram","shyam"],["ball"],[7,8,9]]
a[0][1]="hari"
print(a)

[['ram', 'hari'], ['ball'], [7, 8, 9]]

In [16]:
# ordered
a =["apple","ball"]
b=["cat","dog"]
a+b

['apple', 'ball', 'cat', 'dog']

In [18]:
a =[["apple","ball"]]
b=[["cat","dog"]]
b+a

[['cat', 'dog'], ['apple', 'ball']]

In [19]:
# creae list inside list without appending
z=[]
n= int(input("ener the value of rows n="))
for i in range(n):
    name=input("enter the name=")
    phone=int(input("enter the phone="))
    info=[[i,name,phone]]
    z = z+info
print(z)

ener the value of rows n=2
enter the name=ram
enter the phone=876
enter the name=shya
enter the phone=9876
[[0, 'ram', 876], [1, 'shya', 9876]]

In [27]:
# z=[]
# n= int(input("ener the value of rows n="))
# for i in range(n):
#     name=input("enter the name=")
#     phone=int(input("enter the phone="))
#     info=[i,name,phone]
#     z.append(info)
# print(z)


 # search by using name

name = input("enter the name to search=").lower()
    
for j in z:
    if name in j[1].lower():
        print(j)

enter the name to search=ram
[0, 'ram', 9876]

In [30]:
# for deleting we need to search first then del
name = input("enter the name to search=").lower()
    
for j in z:
    if name in j[1].lower():
        z.remove(j)
print(z)

enter the name to search=ram
[[1, 'shya', 8765]]

In [35]:
z=[[0, 'ram', 876], [1, 'shya', 9876]]
name = input("enter the name to search=").lower()
    
for j in z:
    if name in j[1].lower():
        j[1]="Ram prasad"
print(z)

enter the name to search=ram
[[0, 'Ram prasad', 876], [1, 'shya', 9876]]

In [36]:
z=[[0, 'ram', 876], [1, 'shya', 9876]]
name = input("enter the name to search=").lower()
    
for j in z:
    if name in j[1].lower():
        j[1]=input("enter the new name=")
print(z)

enter the name to search=ram
enter the new name=katrin
[[0, 'katrin', 876], [1, 'shya', 9876]]

In [1]:
# Wap to make a result manangement syatem and search it by using roll num, remove the data , and update the values.
z=[]
n = int(input("enter the number of rows="))
for i in range (n):
    name=input("enter the name of student=")
    eng = int(input("enter the marks in english="))
    nepali = int(input("enter the marks in nepali="))
    science=int(input("enter the marks in science="))
    mah= int(input("enter the marks in math="))
    total = sum([eng, nepali,science,mah])
    per = total/5
    result=[i,name,eng,nepali,science,mah]
    z.append(result)
    
print(z)

name = input("enter the name to serach=").lower()
for j in z:
    if name in j[1].lower():
        print(j)

name = input("enter the name to serach=").lower()
for j in z:
    if name in j[1].lower():
        z.remove(j)
        print(z)
eng = int(input("enter the marks in english="))
for j in z:
    if eng in j[0][2]:
        j[1][2]=int(input("enter the marks in english"))
        print(z)

enter the number of rows=2
enter the name of student=eric
enter the marks in english=45
enter the marks in nepali=56
enter the marks in science=76
enter the marks in math=45
enter the name of student=tim
enter the marks in english=77
enter the marks in nepali=86
enter the marks in science=94
enter the marks in math=54
[[0, 'eric', 45, 56, 76, 45], [1, 'tim', 77, 86, 94, 54]]
enter the name to serach=eric
[0, 'eric', 45, 56, 76, 45]
enter the name to serach=tim
[[0, 'eric', 45, 56, 76, 45]]
enter the marks in english=54

TypeError: 'int' object is not subscriptable