In [ ]:
#Tuple
#immutable data type
#carry multiple values
#indexing
#Ordered
# duplicate members

In [1]:
a =(1,2,3,4)
print (a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
a=()
print(type(a))

<class 'tuple'>

In [4]:
a=(1)
print(type(a))

<class 'int'>

In [5]:
a=(1,)
print(type(a))

<class 'tuple'>

In [14]:
a=("apple",)
print(type(a))
print(a)

<class 'tuple'>
('apple',)

In [15]:
a=("apple",)
a*3

('apple', 'apple', 'apple')

In [9]:
a=("apple","ball","cat")
a[1]

'ball'

In [11]:
a=("apple","ball","fish")
b=("fish",)
b+a

('fish', 'apple', 'ball', 'fish')

In [12]:
a=("apple","ball","fish")
b=("fish",)
a+b

('apple', 'ball', 'fish', 'fish')

In [16]:
def area():
    r=5
    area=25
    return r,area
area()

(5, 25)

In [17]:
#slicing
a=("apple","ball","fish")
a[1:3]

('ball', 'fish')

In [18]:
a=("apple","ball","fish")
a[0:3]

('apple', 'ball', 'fish')

In [19]:
a=("apple","ball","fish")
a[2:3]

('fish',)

In [20]:
y=()
n=int(input("enter the value of n="))
for i in range(n):
    x=int(input("enter the value of x="))
    y=y+(x,)
print(y)

enter the value of n=4
enter the value of x=3
enter the value of x=7
enter the value of x=8
enter the value of x=9
(3, 7, 8, 9)

In [21]:
a=("apple","ball","fish")
a[0]

'apple'

In [22]:
a=("apple","ball","fish")
a[0]="amen"
print(a)

TypeError: 'tuple' object does not support item assignment

In [23]:
a=(1, 2, 3, 4, 5)
a.insert(2,9)
print(a)

AttributeError: 'tuple' object has no attribute 'insert'

In [27]:
a=(1, 2, 3, 4, 5)
b=a[0:2]
c=("python",)
d=a[2:]

print(b+c+d)

(1, 2, 'python', 3, 4, 5)

In [30]:
a=("apple","ball","cat","dog")
b=a[0:3]
c=("python",)
d=a[2:]

print(b+c+d)

('apple', 'ball', 'cat', 'python', 'cat', 'dog')

In [31]:
a=(1, 2, 3, 4, 5)
b=a[0:2]
c=("python",)
d=a[2:]
a=(b+c+d)
print(a)

(1, 2, 'python', 3, 4, 5)

In [36]:
y=()
n = int(input("enter the value of n="))
for i in range(n):
    x= int(input("enter the value of x="))
    y=y+(x,)
    
print("the fial data is=",y)
print("the maximum data is=",max(y))
print("the minimum data is=",min(y))
print("the sum data is=",sum(y))
print("the average data is=",sum(y)/n)

enter the value of n=5
enter the value of x=56
enter the value of x=76
enter the value of x=98
enter the value of x=67
enter the value of x=54
the fial data is= (56, 76, 98, 67, 54)
the maximum data is= 98
the minimum data is= 54
the sum data is= 351
the average data is= 70.2

In [37]:
a=("apple","ball","cat","dog","aple")
b=list(a)
print(b)

['apple', 'ball', 'cat', 'dog', 'aple']

In [38]:
a=("apple","ball","cat","dog","aple")
b=list(a)
print(b)
b.remove("cat")
a=tuple(b)
print(a)

['apple', 'ball', 'cat', 'dog', 'aple']
('apple', 'ball', 'dog', 'aple')

In [40]:
a=("apple","ball","cat","dog","aple")
b=list(a)

b[1]="python"
print(b)
a=tuple(b)
print(a)

['apple', 'python', 'cat', 'dog', 'aple']
('apple', 'python', 'cat', 'dog', 'aple')

In [42]:
a="oython"
print(tuple(a))
print(list(a))

('o', 'y', 't', 'h', 'o', 'n')
['o', 'y', 't', 'h', 'o', 'n']

In [43]:
a="python"
b=(a,)
b

('python',)

In [46]:
a="python"
b=tuple(a)
print(b)
a= str(b)
a

('p', 'y', 't', 'h', 'o', 'n')

"('p', 'y', 't', 'h', 'o', 'n')"

In [47]:
#tuple inside tuple
a=((),(),())
print(type(a))
print (len(a))

<class 'tuple'>
3

In [49]:
a=(("ram","hari","shyam"),(1,2,3),("patan","ktm","lahore"))
print (a)

(('ram', 'hari', 'shyam'), (1, 2, 3), ('patan', 'ktm', 'lahore'))

In [51]:
#tuple inside tuple 
s=()
n = int(input("enter the no of rows="))
for i in range(n):
    name=input("enter the name=")
    phone = int(input("enter the phone="))
    info =(i,name,phone)
    s=s+(info,)
print(s)

enter the no of rows=3
enter the name=ram
enter the phone=654
enter the name=tom
enter the phone=8765
enter the name=tim
enter the phone=765
((0, 'ram', 654), (1, 'tom', 8765), (2, 'tim', 765))

In [54]:
#list inside tuple
a=([1,2,3],[4,5,6],[8,9])
a
print(type(a))

<class 'tuple'>

In [60]:
a=([1,2,3],[4,5,6],[8,9])
a[0][2]=45
print(a)

([1, 2, 45], [4, 5, 6], [8, 9])

In [56]:
a[0].append(5)
a

([1, 2, 3, 5, 5], [4, 5, 6], [8, 9])

In [59]:
del a[0][3]
print(a)

([1, 2, 3, 5], [4, 5, 6], [8, 9])

In [65]:
#tuple inside list
a=[(1,2,3),(4,5,6),(7,8,9)]
a[0]=[1,2,3]
a

[[1, 2, 3], (4, 5, 6), (7, 8, 9)]